<div class="widget tag">
  <h3 class="title">Find Me</h3>
  <ul class="entry">
    <li>
      <a class="github-link icon-link"
        target="_blank"
        href="https://github.com/<%= config.github_user %>"
        title="Github"></a>
      <a class="twitter-link icon-link"
        target="_blank"
        href="https://twitter.com/<%= config.twitter_user %>"
        title="Twitter"></a>
      <a class="stackoverflow-link icon-link"
        target="_blank"
        href="http://stackoverflow.com/users/<%= config.stackoverflow_user_id %>"
        title="StackOverflow"></a>
    </li>
  </ul>
</div>
